* p {
        margin: 0;
    }
    


body {
  font-family: "Goldman", cursive;
  background: #424b5d;
  background-position: 50% 170px, -400px 300px;
  background-size: 420px 100%, 280% 700%;
  background-repeat: no-repeat;
  position: relative;
  color: slategrey;
}

.container {
  max-width: 900px;
  margin: 0 auto;
}

.input-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* --SETTINGS-WINDOW---- */
.settings-window {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  text-align: center;
  display: none;
}

.settings-list {
  list-style: none;
  background-color: #000000;
  border-radius: 10px;
  height: 100vh;
  opacity: 0.9;
  color: white;
  padding-top: 20%;
}

.settings-item {
  font-weight: bold;
  padding: 5px;
}

.settings-item:hover {
  cursor: pointer;
  transform: scale(1.1);
  background-color: orangered;
}

/*    ---ICON-RETURN------- */
.icon-return {
  width: 50px;
  position: absolute;
  left: 2%;
  top: 10%;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  z-index: 1;
  transition: 0.3s;
}

.icon-return:hover {
  background-color: orangered;
  cursor: pointer;
}

/* -------MODAL-WALLPAPERS--WINDOW------ */
.wallpaper-window {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
  text-align: center;
  display: none;
}

.icon-return {
}

.wallpapers-list {
  list-style: none;
  background-color: #000000;
  border-radius: 10px;
  height: 100vh;
  opacity: 0.6;
  color: white;
  padding-top: 20%;
}

.wallpapers-item {
  font-weight: bold;
  padding: 5px;
}

.wallpapers-item:hover {
  cursor: pointer;
  transform: scale(1.1);
  background-color: orangered;
}

/* --MAIN-BLOCK--- */
.main-block {
  padding: 20px;

  font-family: "Goldman", cursive;
}

.setting-button {
  width: 80px;
  height: 100%;
}

.setting-button:hover {
  background-color: orangered;
}

.setting-button-image {
  width: 50px;
}

.input {
  width: 55%;
  height: 40px;
  padding: 10px;
  border: none;
  text-align: center;
  border-radius: 10px;
  /* backdrop-filter: blur(3px); */
  background-color: inherit;
  box-shadow: inset -2px -2px 5px rgb(53, 48, 48),
    inset 3px 3px 5px rgb(99, 90, 90);
  font-family: "Goldman", cursive;
  font-weight: 600;
  color: slategrey;
}
.input::placeholder {
  color: slategrey;
}
input:focus {
  /*   color:red; */
  /*   padding:20px; */
}

button {
  width: 18%;
 
  background: inherit;
  color: inherit;
  box-shadow: inset -2px -2px 5px rgb(53, 48, 48),
  inset 3px 3px 5px rgb(99, 90, 90);
  border-radius: 10px;
  border: none;
  font-family: "Goldman", cursive;
  font-weight: 600;
}

.button-ok {
  height: 60px;
}

.task-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  /*   justify-content:center; */
  /*   background-color:red;  */
}

.task-section p span {
}

.task-item-block {
  /* text-shadow: -2px -2px 3px rgba(255, 255, 255, 1),
    3px 3px 5px rgba(0, 0, 0, 0.5); */
  margin: 6px;
  border-radius: 20px;
  padding: 10px 20px;
  box-shadow: inset -2px -2px 5px rgb(53, 48, 48),
    inset 3px 3px 5px rgb(99, 90, 90);
}

.task-item-block p {
/* padding: 10px 20px; */
  border-radius: 10px;
  display: flex;
  
  align-items: center;
  color: slategrey;
}

.icon-ok {
  width: 32px;
  margin-left: 40px;
  border-radius: 50%;
}

.icon-ok:hover {
  transform: scale(1.05);
  transition: 0.3s;
}

.icon-close {
  width: 32px;
 position: relative;
 top: 2px;
  border-radius: 50%;
}

.icon-close:hover {
  transform: scale(1.05);
  transition: 0.3s;
}

.checked {
  /* background-color: #f0dcdc; */
  /*     animation: lineThrough 1s ease-in-out; */
  position: relative;
  opacity: 0.3;
}


/* .checked p::before {
  content: "";
  background: url("../assets/icons/done-icon.png") no-repeat;
  background-size: 30px 30px;
  padding: 20px 20px;
  position: absolute;
  left: -60px;
  top: 20%;
  text-shadow: 2px 2px black;
} */

.task-item-block.delition {
  animation: opacity 1s ease-in-out;
}

@keyframes opacity {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes lineThrough {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(180deg);
  }
}

@keyframes color {
  from {
    color: red;
  }

  to {
    color: green;
  }
}
